.env
__pycache__/
.venv/
.ipynb_checkpoints/
*.log
.DS_Store
agentvenv/
venv/
.env/
.env_dup/
AGENTIC_*.ipynb
PROJ_*
analyst*
Superstore*
yt-*

__pycache__/
*.pyc


.ipynb_checkpoints/

ATLASSIAN_TOOLS_TECH/
AGENTIC_RAG_MONGODB/
AI PROFICIENT/
.deepval/